<main>
  <ng-container *ngIf="usuario">
    <div class="card p-4 mb-4 shadow-sm border-info">
      <div class="card-header bg-info text-white">
        <h5 class="mb-0">Información del Usuario</h5>
      </div>
      <div class="card-body">
        <p class="card-text fw-bold">Username: <span class="text-primary">{{ usuario.username }}</span></p>
        <p class="card-text fw-bold">Primer Nombre: <span class="text-secondary">{{ usuario.firstName }}</span></p>
        <p class="card-text fw-bold">Segundo Nombre: <span class="text-secondary">{{ usuario.lastName }}</span></p>
      </div>
    </div>
  </ng-container>
</main>
